@font-face {
    font-family: 'Bondtique';
    src: url(../other-files/Bondtique.otf);
}

body {
    margin: 0;
    font-family: 'Bondtique', sans-serif;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 36%;
}

.books li {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.books> :nth-child(odd) {
    background-color: #ddd;
}

.books {
    width: 70%;
    border: solid 3px black;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.books li h2 {
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
}

.books li button {
    background: white;
    margin-right: 5px;
    border-radius: 3px;
    font-family: 'Bondtique', sans-serif;
}

input {
    border: solid 3px black;
    border-radius: 5px;
    width: 100%;
    height: 24px;
    margin-bottom: 14px;
}

#addform {
    display: none;
    width: 70%;
}

#addbutton {
    width: 50px;
    height: 26px;
    background: white;
    margin-right: 5px;
    border-radius: 3px;
    font-family: 'Bondtique', sans-serif;
}

hr {
    width: 20%;
    margin-top: 20px;
    border: solid 2px;
    border-radius: 5px;
    background-color: black;
}

nav {
    width: 100%;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 20px;
}

.logo {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(96, 59, 231);
}

.lists {
    border-right: solid black 2px;
    margin-right: 10px;
    padding: 3px;
    padding-right: 10px;
}

.lists-c {
    margin-right: 10px;
    padding: 3px;
}

footer {
    position: absolute;
    border: solid;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 20px;
}

.footer-p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

#contact {
    display: none;
}